.restaurantCards {
  /* display: flex; */
  /* flex-direction: column; */
  width: 300px;
  height: fit-content;
  padding: 20px;

  img {
    width: 100%;
  }
  .title {
    font-size: 18px;
    line-height: 20.4px;
    color: #282c3f;
    margin-bottom: 5px;
  }
  .cuisines {
    font-size: 12px;
    line-height: 15.6px;
    color: #686b78;
    margin-bottom: 20px;
  }
  .ratings-dilivery-costForTwo {
    display: flex;
    gap: 55px;
    text-align: start;
    font-size: 12px;
    line-height: 14.4px;
    color: #535665;
    margin-bottom: 10px;

    .average-rating {
      text-align: start;
      background-color: #48c479;
      color: #ffffff;
    }
  }
  hr{
    display:none;
  }
}
.restaurantCards:hover {
  border: 1px solid rgba(203, 200, 200, 0.784);
  box-shadow: 2px 2px 5px 5px rgb(221, 221, 221);

  hr{
    display:block;
  }
}
